@page "/editcustomer/{customerid}"

@inject INorthwindService service
@inject NavigationManager navigation
<h3>Edit Customer</h3>
<CustomerDetail ButtonText="Update"
Customer="@Customer"
OnValidSubmit="@Update" />
@code {
[Parameter]
public string CustomerId { get; set; }
private Customer? Customer = new();
protected async override Task OnParametersSetAsync()
{
		Customer = await service.GetCustomerAsync(CustomerId);
}
	private async Task Update()
	{
		if (Customer is not null)
		{
			await service.UpdateCustomerAsync(Customer);
		}
		navigation.NavigateTo("customers");
	}
}